
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --background-color: #111111;
    --main-color: #ff3333;
    --details-color: #b0b0b0;
    --text-color: #f5f5f5;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro";
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("icones/wallpaper.png");
    color: var(--text-color);
}

/*nav*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 15vh;
    width: 100%;
    z-index: 99999;
}

#container_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 95%;
    background-color: var(--background-color);
    border-radius: 10px;
    border-bottom: solid var(--main-color) 5px;
}

#logo{
    margin: 10px;
}

#nom_resto{
    width: min-content; 
    height: auto;
    margin: 0;
    color: var(--main-color);
}

#profil{
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px var(--main-color);
    padding: 5px;
    margin: 10px;
    border: 2px solid transparent;
}

#profil:hover{
    border: solid var(--main-color) 2px;
}

nav #menu_classique{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

nav #menu_classique li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav #menu_classique li a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.5s;
    color: var(--text-color);
}

nav #menu_classique li a:hover{
    transform: scale(1.1);
    color: var(--main-color);
}

.container_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_log{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 51, 51, 0.1);
    box-shadow: 0px 0px 8px 2px var(--main-color);
    color: var(--text-color);
    width:120px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
}

.button_log:hover{
    border: solid var(--main-color) 2px;
}

/*menu hamburger pour le responsive*/

.menu-checkbox {
  display: none; 
}

.hamburger {
  display: none; 
  cursor: pointer;
}

.nav-menu{
    display: none;
}

@media (max-width: 1525px) {

    nav #menu_classique, #container_login, #profil{
        display: none;
    }

    .hamburger {
      display: flex;
      margin: 10px;
      flex-direction: column;
      gap: 6px;
    }   
    
    .hamburger .line {
      width: 35px;
      height: 4px;
      background-color: var(--main-color);
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
    }   
    
    .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      width: 95%;
      background-color: var(--background-color);
      text-align: center;
      padding: 20px 0;
      box-shadow: 0 8px 15px rgba(220, 38, 38, 0.1);
      border-radius: 10px;
      border: solid 2px var(--main-color);
      text-decoration: none;
      list-style: none;
    }   
    .nav-menu li {
      padding: 15px 0;
      background-color: var(--background-color);
      border-bottom: 1px solid var(--main-color);
    }   

    .nav-menu li a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.5s;
    color: var(--text-color);
    }

    .nav-menu li a:hover{
        transform: scale(1.1);
        color: var(--main-color);
    }
    
    .menu-checkbox:checked ~ .nav-menu {
      display: flex;
    }   
    
    .menu-checkbox:checked ~ .hamburger .line:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    .menu-checkbox:checked ~ .hamburger .line:nth-child(2) {
      opacity: 0;
    }
    .menu-checkbox:checked ~ .hamburger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
}

@media (max-width: 768px) {

  #logo {
      height: 50px !important; 
      width: auto;
      margin: 0 10px 0 0;
  }

  #nom_resto {
      margin: 0;
      width: min-content; 
      height: auto;
      color: var(--main-color);
      font-size: 1.2rem;
      line-height: 1.1; 
      text-align: left;
  }

}

/*fin nav*/

/*main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

/*main*/

/*footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}

#container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 95%;
    background-color: var(--background-color);
    border-radius: 10px;
    border-bottom: solid var(--main-color) 5px;
}

.commentaires{
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
    color: var(--main-color);
}

#copyright{
    font-size: clamp(0.8rem, 1vw + 0.5rem, 18px);
    color: var(--details-color);
}

/*fin footer*/

