
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --background-color: #111111;
    --main-color: #ff3333;
    --details-color: #b0b0b0;
    --text-color: #f5f5f5;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro";
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("icones/wallpaper.png");
    color: var(--text-color);
}

/*nav*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}

#container_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 95%;
    background-color: var(--background-color);
    border-radius: 10px;
    border-bottom: solid var(--main-color) 5px;
}

#logo{
    margin: 10px;
}

#nom_resto{
    color: var(--main-color);
}

#profil{
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px var(--main-color);
    padding: 5px;
    margin: 10px;
}

#profil:hover{
    border: solid var(--main-color) 2px;
}

nav ul{
    text-decoration: none;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    margin: 30px;
}

nav ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.5s;
    color: var(--text-color);
}

nav ul li a:hover{
    transform: scale(1.1);
    color: var(--main-color);
}

.container_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_log{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 51, 51, 0.1);
    box-shadow: 0px 0px 8px 2px var(--main-color);
    color: var(--text-color);
    width:120px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
}

.button_log:hover{
    border: solid var(--main-color) 2px;
}

/*fin nav*/

/*main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

/*main*/

/*footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}

#container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 95%;
    background-color: var(--background-color);
    border-radius: 10px;
    border-bottom: solid var(--main-color) 5px;
}

.commentaires{
    color: var(--main-color);
}

#copyright{
    font-size: 18px;
    color: var(--details-color);
}

/*fin footer*/

