
/*main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

#search_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    width: 40%;
    box-shadow: 0px 0px 8px 2px var(--main-color);
    height: 5vh;
}

.container_center_text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#fleche{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

#input_search{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 100%;
    text-decoration: none;
    color: var(--text-color);
    border: none;
    background: none;
}

#input_search::placeholder{
    color: var(--text-color);
}

#input_search:focus{
    outline: none;
}

#button_search{
    margin: 10px;
}

#button_search:hover{
    cursor: pointer;
}

#container_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 900px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 400px;
    margin: 15px;
    padding: 10px;
    background-color: var(--background-color);
    background-size: 400px 450px; 
    border-radius: 15px;
    transition-duration: 0.3s;
}

.card:hover{
    box-shadow: 0px 0px 8px 2px var(--main-color);
}

.img_card{
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 2px var(--main-color);
    background-image: linear-gradient(var(--background-color) 80%, var(--main-color));
}

.titre{
    font-size: 19px;
    font-weight: bold;
}

.description{
    text-align: center;
}

.prix{
    color: var(--main-color);
}

.text_prix{
    align-self: flex-end;
    font-weight: bold;
    font-size: 19px;
}

/*fin main*/