body{
    background-size: cover;
}

/*main*/

/*Barre de recherche*/

#search_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    background-color: var(--background-color);
    color: var(--main-color);
    box-shadow: 0px 0px 8px 2px var(--main-color);
    border: solid var(--main-color) 1px;
    height: 5vh;
}

.container_center_text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#fleche{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

#input_search{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 100%;
    text-decoration: none;
    color: var(--text-color);
    border: none;
    background: none;
}

#input_search::placeholder{
    color: var(--text-color);
}

#input_search:focus{
    outline: none;
    
}

#button_search{
    margin: 10px;
}

#button_search:hover{
    cursor: pointer;
}

/*fin barre de recherche*/

/*filtre*/

#container_filtres{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 12vh;
    margin: 30px;
    background-color: var(--background-color);
    border: solid var(--main-color) 2px;
}

/*fin filtre*/

/*produits*/

#container_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 400px;
    margin: 15px;
    padding: 10px;
    background-color: var(--background-color);
    background-size: 400px 450px; 
    border-radius: 15px;
    transition-duration: 0.3s;
}

.card:hover{
    box-shadow: 0px 0px 8px 2px var(--main-color);
}

.img_card{
    width: 80%;
    height: 30%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 2px var(--main-color);
    background-image: linear-gradient(var(--background-color) 80%, var(--main-color));
}

.img_card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titre{
    font-size: 19px;
    font-weight: bold;
}

.description{
    text-align: center;
}

.prix{
    color: var(--main-color);
}

.text_prix{
    font-weight: bold;
    font-size: 19px;
}

.acheter{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 51, 51, 0.1);
    box-shadow: 0px 0px 8px 2px var(--main-color);
    color: var(--text-color);
    width:120px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
}

.acheter:hover{
    border: solid var(--main-color) 2px;
}

.acheter_card{
    align-self: flex-end;
}

/*fin produit*/

/*fin main*/
