
/* Styles page Admin */
.page {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 16px;
}

.header {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 6px;
  color: var(--text-color);
}

.header p {
  color: var(--details-color);
}

.filter-btn {
  background-color: rgba(255, 51, 51, 0.2);
  box-shadow: 0px 0px 8px 2px var(--main-color);
  color: var(--text-color);
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.filter-btn:hover {
  transform: scale(1.03);
  background-color: rgba(255, 51, 51, 0.3);
}

.card {
  background: var(--background-color);
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 12px;
}

.table {
  border: 1px solid var(--main-color);
  border-radius: 6px;
  overflow: hidden;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 80px 1fr 110px;
}

.row:not(.header-row) {
  background: rgba(17, 17, 17, 0.6);
}

.row:not(.header-row):nth-child(even) {
  background: rgba(255, 51, 51, 0.1);
}

.cell {
  padding: 10px 12px;
  border-bottom: 1px solid var(--details-color);
  color: var(--text-color);
}

.header-row .cell {
  font-weight: 700;
  background: rgba(255, 51, 51, 0.2);
  border-bottom: 1px solid var(--main-color);
  color: var(--text-color);
}

.row:last-child .cell {
  border-bottom: none;
}
